body {
	margin: 0;
	padding: 0;
	font-family: 'Noto Sans', Arial, sans-serif;
}
.ParentBox {
	height: 800px;
	border-style: solid;
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center; /* Center content horizontally */
	
  }
  .Box{
	display: inline-block;
  border: 1px solid red;
  padding: 1rem 1rem;
  vertical-align: middle;
  }

  