.CloseButton {
	position: absolute;
	top: 10px;
	right: 10px;
	cursor: pointer;
	font-size: 18px;
	color: #333;
}

.ParentBoxT {
	height: auto;
	width: 100%;
	margin: 0;
	padding: 0;
	font-family: 'Noto Sans', Arial, sans-serif;
	display: flex;
	flex-direction: column;
	align-items: flex-start; /* Align Tasks to the left */
}

.AddTask {
	width: 100%;
	height: 50px;
	margin-bottom: 10px;
	display: flex;
}

.AddAddTask {
	width: 50%;
	height: 50px;
}

.ProjectSettings {
	width: 50%;
	height: 10px;
	text-align: right;
}

.ToDo {
	width: 100%;
	height: auto;
	background-color: #efefef;
	margin-bottom: 30px;
}

.Button {
	background-color: #d9d9d9;
	border: none;
	padding: 6px 30px;
	font-family: 'Noto Sans', Arial, sans-serif;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 21px;
	margin: 2px 2px;
	cursor: pointer;
	border-radius: 5px;
}
.ButtonW {
	background-color: #d9d9d9;
	border: none;
	padding: 6px 30px;
	width:340px;
	font-family: 'Noto Sans', Arial, sans-serif;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 21px;
	margin: 2px 2px;
	margin-top: 15px;
	cursor: pointer;
	border-radius: 5px;
}
.ButtonG {
	background-color: #d9d9d9;
	border: none;
	padding: 1px 30px;
	font-family: 'Noto Sans', Arial, sans-serif;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 21px;
	margin: 2px 2px;
	cursor: pointer;
	border-radius: 5px;
}
.AnotherFKbutton{
	width:68%;
	height:100px;
	margin-left: 4%;
}
.Button2 {
	background-color: #d9d9d9;
	border: none;
	padding: 1px 10px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 21px;
	margin: 2px 2px;
	cursor: pointer;
}
.Buttonsrfrsg{
	background-color: #d9d9d9;
	border: none;
	font-family: 'Noto Sans', Arial, sans-serif;
	text-align: center;
	font-size: 17px;
	cursor: pointer;
	height: 40px;
	margin-top: 20px;
	margin-right: 10%;
	width:90%;
	border-radius: 5px;
}
.Buttonsrfrsg:hover,
.ButtonW:hover,
.Button:hover {
	background-color: #d0d0d0;
}

.Button2:hover {
	background-color: #d0d0d0;
}
.ButtonD {
	background-color: #d9d9d9;
	border: none;
	text-align: left;
	font-size: 19px;
	width: 100%;
	height: 27px;
	cursor: pointer;
}
.ButtonD:hover {
	background-color: #d0d0d0;
}
.ButtonG:hover {
	background-color: #d0d0d0;
}
.Popup {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
	display: flex;
	align-items: center;
	justify-content: center;
}

.PopupContent {
	background: #E4E4E4;
	width: 55%;
	height: 60%;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
	text-align: center;
	position:relative;
	font-size: 25px;
}

.CloseButton {
	position: absolute;
	top: 10px;
	right: 10px;
	cursor: pointer;
	font-size: 18px;
	color: #333;
}

.Project {
	text-align: left;
	margin-left: 30px;
	width: 40%;
	font-size: 22px;
	font-family: 'Noto Sans', Arial, sans-serif;
	float: left;
}

.TodoTable th,
.TodoTable td {
	border: 1px solid #ddd;
	padding: 8px;
	text-align: left;
}

.thing {
	font-size: 15px;
	padding-bottom: 1px;
}

.EnterName {
	margin-top: 40px; /* Add or adjust the margin as needed */
  }
  
  .EnterNameInput {
	border: none;
	float: right;
	outline: none;
	width: 30%;
	margin-right: 7%;
	padding: 5px;
	background-color: #eeeeee;
	text-align: left;
	font-size: 17px;
	margin-bottom: 20px;
	margin-top: 14px;
	transition: border 0.3s ease;
  }
  
  /* Add the following styles to move the "Enter description" input below "Enter name" input */
  .EnterDescription {
	margin-top: 40px; /* Add or adjust the margin as needed */
  }
  
  .EnterDescriptionInput {
	border: none;
  float: right;
  outline: none;
  width: 30%;
  margin-right: 7%;
  padding: 5px;
  background-color: #eeeeee;
  text-align: left;
  font-size: 17px;
  transition: border 0.3s ease;
  margin-top: 26px; 
  }
  .EnterDescriptionInput2 {
	border: none;
  float: right;
  outline: none;
  width: 340px;
  margin-right: 7%;
  padding: 5px;
  background-color: #eeeeee;
  text-align: left;
  font-size: 17px;
  transition: border 0.3s ease;
 
  }
.upperhalf{
	height:45%;


}
.lowerhalf{
	height:55%;
	
	display:flex;
	width: 100%;
}
.Labelw {
	font-size: 20px;
	margin-left: 20px;
}
.WorkerTable{
	margin-top: 2%;
	margin-left: 3%;
	background-color: #DEDEDE;
	height:80%;
	width: 60%;
	
	font-size: 20px;
	height:80%;

}
.Table td2{
	display:flex;
}
.AddWorker{
	margin-top: 2%;
	margin-left: 3%;
	width: 40%;
	height: 50%;

	float: right;
}
.TodoTable {
	width: 95%;
	border-collapse: collapse;
	margin-left: 2.5%;
	margin-top: 10px;
	padding: 0 20px;
}

.TodoTable th {
	border: none;
	border-bottom: 1px solid;
	margin-left: 21px;
	font-weight: lighter;
}

.TodoTable td {
	border: none;
}


.TodoTable th:first-child,
.TodoTable td:first-child {
	width: 300px;
}
.Table{
	width: 95%;
	border-collapse: collapse;
	margin-left: 2.5%;
	margin-top: 10px;
	text-align: left;
	padding: 0 20px;
}
.Table th {
	border: none;
	border-bottom: 1px solid;
	margin-left: 21px;
	font-weight: lighter;
}
.DotsThreeVertical {
	font-size: 30px;
}

.TodoTable th:last-child,
.TodoTable td:last-child {
	width: 50px;
}

.TodoTable th:nth-last-child(2),
.TodoTable td:nth-last-child(2) {
	width: 80px;
}

.TodoTable tbody tr:hover {
	background-color: #e7e7e7;
}

.ButtonDots {
	font-size: 30px;
	background: none;
	border: none;
	cursor: pointer;
	padding: 0;
}

.Gear {
	font-size: 30px;
}

.GearAndText {
	display: flex;
	align-items: center;
}
.icon {
	background-color: #ccc;
	display: grid;
	place-items: center;
	border-radius: 50%;
	height: 50px;
	margin-left: 6px;
	padding: 0;
	width: 50px;
	cursor: pointer;
}
.DropdownContainer {
	position: relative;
	display: inline-block;
}

.Dropdown {
	position: absolute;
	top: 100%;
	right: 10px;
	background-color: #d9d9d9;
	border: none;
	width: 163px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-radius: 10%;
	z-index: 1;
}
.icon23 {
	background-color: #918eff;
	border-radius: 50%;
	height: 25px;
	margin-left: 6px;
	width: 25px;
	margin-bottom: 5px;
	margin-top: 5px;
	/* Add the following lines to adjust the spacing between the icon and the username */
	margin-right: 6px;
}
.username {
	margin-left: 6px;
	margin-top: 5px;
}
.ButtonD2 {
	background-color: #d9d9d9;
	border: none;
	text-align: left;
	font-size: 19px;
	width: 100%;
	margin-top: 5px;
	height: 27px;
	cursor: pointer;
	display: flex; /* Add this line to make the children divs in a row */
	align-items: center; /* Add this line to vertically center the content */
}
.ButtonD2:hover {
	background-color: #d0d0d0;
}
.CalendarPopup {
	margin: auto;
	margin-bottom: 10px;
	display: none;
}
.calendar {
	display: grid;
	flex-wrap: wrap;
}

.output-box {
	border: 1px solid #ccc;
	margin: 10px;
	padding: 10px;
	width: 200px;
}

.day {
	font-weight: bold;
}

.output {
	margin-top: 8px;
}
.top{
	display:flex;
}
.name{
	width:70%;
	height: 100px;
	text-align: left;
	font-size: 17px;
	margin-top: 5%;
	margin-left: 4%;
}
.nameInput{
	border: none;
	outline: none;
	padding: 5px;
	width: 90%;
	background-color: #eeeeee;
	text-align: left;
	font-size: 17px;
	margin-bottom: 20px;
	transition: border 0.3s ease;
}
.description{
	font-size: 17px;
	width: 68%;
	text-align: left;
margin-left: 4%;
height:300px;
}
.descInput {
	border: none;
	outline: none;
	padding: 5px;
	width: 90%;
	background-color: #eeeeee;
	text-align: left;
	font-size: 17px;
	height: 200px;
	margin-bottom: 20px;
	font-family: 'Noto Sans', Arial, sans-serif;
	transition: border 0.3s ease;
	resize: none; /* Optional: Disable textarea resizing if not needed */
  }
.Ddate{
	height:300px;
	width: 293px; 
}
.EndlessFrontend{
	margin-top: 60%;
	font-size: 17px;
	text-align: left;
}
.bottom{
	display:flex;
}
.dropdown{
font-size: 17px;
height:100px;
width:300px;
margin-top: 5%;
text-align: left;
}
@media only screen and (max-width: 600px) {
	.Button {
		background-color: #d9d9d9;
		border: none;
		padding: 10px 17px;
		text-align: center;
		text-decoration: none;
		display: inline-block;
		font-size: 13px;
		margin-top: 10px;
		cursor: pointer;
	}
	.ButtonG {
		background-color: #d9d9d9;
		border: none;
		padding: 6px 30px;
		font-family: 'Noto Sans', Arial, sans-serif;
		text-align: center;
		text-decoration: none;
		display: inline-block;
		font-size: 21px;
		margin: 2px 2px;
		cursor: pointer;
		border-radius: 5px;
		background-color: #d9d9d9;
		border: none;
		padding: 1px 10px;
		text-align: center;
		text-decoration: none;
		display: inline-block;
		font-size: 13px;
		margin-top: 10px;
		border-radius: 5px;
		cursor: pointer;
	}
	.ButtonC{
		background-color: #d9d9d9;
		border: none;
		padding: 4px 10px;
		width:100%;
		text-align: center;
		text-decoration: none;
		display: inline-block;
		font-size: 18px;
		margin-bottom: 1px;
		cursor: pointer;
		border-radius: 5px;
	}
	.CalendarPopup {
		display: contents;
	}

}

